# this is just personal garbage
DDRNet23s_imagenet.pth
__pycache__/**
comparison_test.ipynb
model.png
DDRNet_23_slim_official.py
.ipynb_checkpoints/**
onnx/**
saved_model/**
tf/**
tflite_models/**
bin.py
data anlyst.ipynb
depth_video.npy
evaluate_class_in_action-Copy1.ipynb
evaluate_class_in_action-Copy2.ipynb
evaluate_class_in_action-Copy3.ipynb
evaluate_class_in_action-Copy4.ipynb
graph2.png
graph3.png
IMG_7677k.mp4
IMG_7678k.mp4
index.png
instances_test.json
instances_default.json
model_test.onnx
model.png
OpenVINO.ipynb
SD_final.zip
speed_test.ipynb
sqlite3.def
sqlite3.dll
stack.ipynb
tensorflow lite.ipynb
test_picture.jpg
train_jn.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
onnx_test.py